<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BookAble24 Online Booking System</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300&display=swap" rel="stylesheet">
 <style>
    .wrap-mail {
         margin: 0 auto;
         max-width: 538px;
         width: 100%;
         font-size: 17px;
         font-family: 'Lato', sans-serif;
         margin-top: 20px;
         margin-bottom: 20px;
    }
    .title {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    .info {
        padding: 16px 0 16px 16px;
        border-radius: 4px;
    }
    .textbold {
        font-weight: bold;
        padding-left: 6px;
    }
    .wrap-shop {
        background-color: #e84b63;
        color: white;
        padding: 6px 10px 8px ;
        height: 70px;
    }
    .wrap-shop  p {
        margin: 6px 0;
    }
     .shopname {
         float: left;
         color: white;
         width: fit-content;
     }
     .company  {
          float: right;
     }
    li {
        list-style: none;
    }
 </style>
 </head>
<body>
 <div class="wrap-mail">
<h1 class="title" >Hi : {{company}} </h1>
<p>Thank you for choosing BookAble24 Booking System. Here are some informations about your shop :</p>
<ul class="info" >
    <li>Firma : <span class="textbold">{{company}}</span>  </li>
    <li>Your Email : <span class="textbold">{{email}}</span> </li>
    <li>Your phone : <span class="textbold">{{phoneNumber}}</span> </li>
    <li>Address :<span class="textbold">{{street}} {{cityCode}} {{city}}  </span>   </li>
</ul>
<p>Please contact 01745284655 to active your Link</p>
<p>Your Shop Booking System Link {{link_shop}} </p>
</div>

</body>
</html>