<h1 class="title" >Hi : {{company}} </h1>


<p>Thank you for choosing BookAble24 Booking System. Here are some informations about your shop :</p>
<ul class="info" >
    <li>Firma : <span class="textbold">{{company}}</span>  </li>
    <li>Your Email : <span class="textbold">{{email}}</span> </li>
    <li>Your phone : <span class="textbold">{{phoneNumber}}</span> </li>
    <li>Address :<span class="textbold">{{street}} {{cityCode}} {{city}}  </span>   </li>
</ul>
<p>Please contact 01745284655 to active your Link</p>
<p>Your Shop Booking System Link {{link_shop}} </p>


