<p class="title"  >Booking confirmed</p>
<p>Hi {{name}} </p>
<p>Your appointment at {{company}}</p>
<ul class="info" >
    <li>Your phone : <span >{{phone}}</span> </li>
    <li>Your Email : <span >{{email}}</span> </li>
    <li>Date : <span >{{selectedDate}}</span>  </li>
    <li>Time :<span >{{time}}</span>   </li>
    <li>Person :<span >{{person}} Person</span>   </li>
    <li>Optional:<span class="textbold">{{require}} </span>   </li>


</ul>


<p class="termin-cancel">
    Note : If you want to cancel please  <a href={{link_cancel}}>Cancel</a>
</p>
<div class="wrap-shop" >
    <h4  class="shopname">{{company}}</h4>
    <div class='company' >
        <p>{{street}}</p> 
    <p>{{cityCode}} {{city}} </p>
    </div>
</div>
